.purple {
    background-image: linear-gradient(195deg, rgb(156, 65, 236) 0%, #472965 100%) !important;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
     0 7px 10px -5px rgba(98, 30, 158, 0.568) !important;
}



.input-group.input-group-outline.is-focused .form-label + .form-control, .input-group.input-group-outline.is-filled .form-label + .form-control
{
    border-color: #472965 !important;
    box-shadow: inset 1px 0 #9c41ec, inset -1px 0 #9c41ec, inset 0 -1px #9c41ec ,inset 0 1px #9c41ec !important;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #9c41ec !important;
    border-color: #9c41ec !important;
}
