@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --pink: #F6E7FF;
    --purple: #5A189A;
}

.grid {

    min-height: 300px;
    grid-template-areas:
        'categories categories categories';
}

.section1 {
    grid-area: categories;
    height: 500px;
    background: linear-gradient(180deg, var(--pink) 60%, #fff 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1__heading {
    font-family: 'Lobster', cursive;
    margin-top: 85px;
}

.section1__slider {
    height: 50%;
    width: 90%;
    margin-top: 50px;
    /* background-color:var(--purple); */
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: transparent;
    color: var(--purple);
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    /* border-radius: 50%; */
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
    top: 89px;
}

.MultiCarousel .rightLst {
    right: 0;
    top: 89px;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.item__img {
    border-radius: 50%;
    border: 3px solid var(--purple);
}

.pre-btn,
.next-btn {
    background-color: rgba(224, 170, 255, 0.3) !important;
}

/* Featured Products the second section */
.section__title {
    display: flex;
    justify-content: space-evenly;
}

.section__title div:nth-child(odd) {
    width: 35%;
}
@media(max-width:767px){
    
}
